{% extends "playlist/base.html" %}

{% load static %}
{% block linkCss %}
<link rel="stylesheet" href="{% static 'playlist/about.css' %}">
{% endblock linkCss %}

{% block title %} DjanPlaylist | About {% endblock title%}

{% block content %}
    <h2 class="about-h2-title">You can find me on</h2>
    <div class="div-social-media">

        <a class="a-social-media-linkedin a-social-media-item" href="https://www.linkedin.com/in/davidcinco/" target="_blank">
            LinkedIn
        </a>
        
        <a class="a-social-media-github a-social-media-item" href="https://github.com/davidcinco" target="_blank">
            GitHub
        </a>

    </div>
{% endblock content%}