{% extends 'playlist/base.html' %}

{% load static %}
{% block linkCss %}
<link rel="stylesheet" type="text/css" href="{% static 'playlist/artists.css' %}">
{% endblock linkCss  %}

{% block title %} DjanPlaylist | Artists {% endblock title%}

{% block content %}
    <h2>Current Artists included on my Playlist</h2>
    <div class="container grid-container">
        {% for artist in artists %}
        <div class="grid-item">
            <div>
                <img src="{% static artist.artistpicture %}" alt="{{ artist.artistname}} Image" class="grid-item-img-artist">                
                <h2 class="grid-item-h2">{{ artist.artistname }}</h2>
            </div>

            <a href="{% url 'artist' id=artist.artistid %}">
                <button class="grid-item-button">Check albums and songs</button>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
