div.album-current{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #0fc88b;
}
div.album-current h2{
    padding: 0em 1.25em;
    font-size: 2.75rem;
    color: white;
    text-shadow: 2px 2px 2px black;
}

div.album-grid{
    padding: 1.45em;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
    background-color: rgb(242, 242, 242);
}

div.album-grid-item{
    background-color: #32926f34;
    border-radius: 3px;
}

a.album-anchor{
    text-decoration: none;
    color: black;
}

a.album-anchor:hover{
    color: #2cc99c;
}

button.backArtistBtn{
    font-size: 1.25rem;
    margin: 1em 0em;
    padding: .45em;
}