h2.h2-title {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2.25rem;
}

div.container {
    display: flex;
    justify-content: space-between;
}

div.grid-item{
    display: flex;
    flex-direction: column;
}

div.grid-item button.grid-item-button{
    padding: .50em;
    font-size: 1.25rem;
    background-color: #32926F;
    color: white;
    border: none;
    border-radius: 8px;
}
